/* --- grid --- */
.grid-content {
    display: grid;
}

.grid-icon {
    width: 4.4em;
    height: 4.4em;
    margin: 0.5em auto 0;
    background-color: var(--green-color);
    border-radius: 50%;
}

.grid-icon i {
    color: var(--white-color);
    font-size: 1.2em;
    line-height: 3.5em;
}

.grid-item h3 {
    font-size: 1.3em;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase !important;
    margin: 1em 0;
}

.grid-item p {
    color: var(--p-color);
    letter-spacing: 1px;
    line-height: 2em;
    padding: 0 1.5em;
}

.section-title {
    font-size: 2.5em;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: .4em auto 1em;
}