/* --- Style page ---- */

/* --- Font family --- */

@font-face {
    font-family: 'Choco cooky';
    font-style: normal;
    font-weight: normal;
    src: local('Choco cooky'), url('../fonts/Chococooky.woff') format('woff');
}

@font-face {
    font-family: 'Operator Mono Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Operator Mono Book Italic'), url('../fonts/OperatorMono-BookItalic.woff') format('woff');
}

/* --- #End font family --- */


:root {
    --yellow-main-color: #E8CD30;
    --yellow-light-color:rgb(238, 212, 66)0;
    --yellow-dark-color: rgb(192, 170, 46);
    --white-color: #fff;
    --font-color: #4C4C4C;
    --p-color: #707579;
    --gray-color: #CCCCCC;
    --gray-color2: #DDDDDD;
    --section-gray-color: #F8F9FA;
    --blue-color: #17A2B8;
    --green-color: #009F4D;
    --green-light-color: rgb(13, 224, 115);
    --green-dark-color: rgb(16, 138, 75);
    --black-color: #191818;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: var(--white-color);
}

html,
body {
    font-family: 'Choco cooky';
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 3em 0;
}

/* --- Grid --- */

.grid-content {
    display: grid;
    width: 100%;
}

.grid-icon {
    width: 4.4em;
    height: 4.4em;
    margin: 0.5em auto 0;
    border-radius: 50%;
    -webkit-transition: 1s;
    transition: 1s;
}

.grid-icon i {
    color: var(--white-color);
    font-size: 1.2em;
    line-height: 3.5em;
}

.grid-icon:hover i {
    -webkit-animation: rotate360 1.5s infinite;
    animation: rotate360 1.5s infinite;
    color: var(--yellow-main-color);
}

@-webkit-keyframes rotate360 {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate360 {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        /* color: var(--yellow-main-color); */
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
        color: var(--yellow-main-color);
    }
}

.grid-item h3 {
    font-size: 1.3em;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase !important;
    padding: 1em 0;
}

.grid-item p {
    color: var(--p-color);
    letter-spacing: 1px;
    line-height: 2em;
    padding: 0 1.5em;
}

.section-title {
    font-size: 2.5em;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: .4em auto 1em;
}

.section-text {
    width: 80%;
    margin: 1em auto 2em;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: normal;
}

.overlay-clr {
    background: rgba(0, 0, 0, 0.5);
}

#wrapper #main-content {
    position: relative;
}

/* --- #End grid --- */

/* --------------- Index.html --------------- */

/* --- Header --- */

header {
    position: absolute;
    z-index: 2;
    width: 100%;
}

header #logo a {
    float: left;
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    padding: 3px 0;
    letter-spacing: 1px;
    display: initial;
}

header nav ul {
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
}

/* Positioning the navigation items inline */
header nav ul li {
    margin: 0px;
    float: left;
    display: inline-block;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */
header nav:after {
    content: "";
    display: table;
    clear: both;
}

header nav .menu-title {
    font-size: 1.2em;
    font-weight: 300;
    position: relative;
    display: inline-block;
}

header nav .menu-title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid var(--yellow-main-color);
    color: var(--yellow-main-color);
    overflow: hidden;
    -webkit-transition: .7s;
    transition: .7s;
}

header nav .menu-title[data-text="+964226542"]::before {
    padding-left: 24px;
}

header nav .menu-title:hover::before {
    width: 100%;
}

header nav #logo i,
header nav .menu i,
header nav .menu li.active .menu-title {
    color: var(--yellow-main-color);
}
header nav .menu li.active .menu-title{
    border-bottom: 2px solid var(--yellow-main-color);
}
header .mobile-menu {
    display: none;
}

header .mobile-menu i {
    font-size: 1.5em;
    padding: .4em .5em;
    background-color: var(--green-color);
    color: var(--white-color);
    -webkit-transition: .5s;
    transition: .5s;
}

header .mobile-menu:hover i {
    background-color: var(--white-color);
    color: var(--yellow-main-color);
}

/* --- End header --- */


/* --- Banner --- */

.banner .banner-img1 {
    background: url(../images/3.jpg) no-repeat center;
}

.banner .banner-img2 {
    background: url(../images/1.jpg) no-repeat center;
}

.banner .banner-img3 {
    background: url(../images/5.jpg) no-repeat center;
}

.banner .banner-img4 {
    background: url(../images/2.jpg) no-repeat center;
}

.banner .thumb {
    min-height: 663px;
    background-size: cover;
    position: relative;
}

.banner .banner-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    margin: 0 auto;
    color: var(--white-color);
    text-align: center;
}

.banner .banner-content h3 {
    font-family: 'Operator Mono Book Italic';
    ;
    font-size: 4em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
    padding: .1em 0;
}

.banner .banner-content h4 {
    font-size: 1.6em;
    text-transform: capitalize;
    letter-spacing: .2em;
    padding: 1em 0;
}

.banner .banner-content p {
    max-width: 550px;
    margin: 0 auto 2.5em;
    line-height: 2em;
    font-weight: 400;
    font-size: 1.1em;
    padding: .1em 0;
}

.banner .banner-content .read-more {
    padding: .5em 1.9em;
    color: var(--white-color);
    border: 3px solid var(--green-color);
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}

.banner .banner-content .read-more::before,
.banner .banner-content .read-more::after {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-color: var(--green-color);
    border-style: solid;
    -webkit-transition: all .7s;
    transition: all .7s;
}

.banner .banner-content .read-more::before {
    top: -.5em;
    left: -.5em;
    border-width: 3px 0 0 3px;
}

.banner .banner-content .read-more::after {
    bottom: -.5em;
    right: -.5em;
    border-width: 0 3px 3px 0;
}

.banner .banner-content .read-more:hover::before,
.banner .banner-content .read-more:hover::after {
    width: calc(100% + 1em);
    height: calc(100% + 1em);
    border-color: var(--green-light-color);
}

.banner .banner-content .read-more:hover {
    background-color: var(--green-light-color);
    border-color: var(--green-light-color);
}

.banner .swiper-button-next,
.banner .swiper-button-prev {
    color: var(--yellow-main-color);
}

/* --- #End banner --- */


/* --- About --- */

.about {
    text-align: center;
}

.about p {
    color: var(--p-color);
}

.about .grid-content {
    grid-template-columns: repeat(3, 1fr);
}

.about .grid-icon {
    background-color: var(--green-color);
}

.about .fab {
    font-size: 1.5em;
    line-height: 2.9em;
}

/* --- #End about --- */


/* --- Why choose us --- */

.wcu {
    text-align: center;
    background-image: -webkit-gradient(linear, left bottom, right top, from(var(--green-color)), to(var(--green-light-color)));
    background-image: linear-gradient(to right top, var(--green-color) 0%, var(--green-light-color) 100%);
}

.wcu h3 {
    color: var(--white-color);
}

.wcu p {
    color: var(--gray-color);
}

.wcu .grid-content {
    grid-template-columns: repeat(5, 1fr);
}

.wcu .grid-icon i {
    color: var(--yellow-main-color);
    font-size: 3em;
    line-height: 1.4em;
}

/* --- #End why choose us --- */


/* --- Core --- */

.core {
    background-color: var(--white-color);
}

.core h3 {
    text-align: center;
}

.core img {
    margin: 2em auto;
}

.core .grid-content {
    grid-template-columns: repeat(2, 1fr);
}

.core .core-right {
    margin: auto 0;
}

.core .grid-item h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.8em;
    padding: 0 .9em;
}

/* --- #End core ---*/


/* --- Ability --- */

.ability {
    background: url(../images/5.jpg) no-repeat center;
    background-size: cover;
    color: var(--white-color);
    padding: 0 !important;
}

.ability .overlay-clr {
    padding: 3em 0;
}

.ability h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.8em;
    padding: 0 .9em;

}

.ability p {
    color: var(--gray-color);
    font-weight: 500;
    line-height: 1.9em;

}

.ability li {
    color: var(--gray-color2);
    font-size: 1.112em;
    line-height: 1.8em;
}

.ability .grid-content {
    grid-template-columns: 1.6fr 2fr 1fr;
}

/* --- #End ability --- */


/* --- Product and services--- */

.product {
    text-align: center;
    background-color: var(--white-color);
}

.product .section-title {
    text-transform: none;
}

.product .grid-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.product .grid-item {
    margin-bottom: 12em;
    position: relative;
}

.product img {
    width: 100%;
    margin: 0 auto;
}

.product .product-img1 {
    background: url(../images/s1.jpg) no-repeat center;
}

.product .product-img2 {
    background: url(../images/s2.jpg) no-repeat center;
}

.product .product-img3 {
    background: url(../images/s3.jpg) no-repeat center;
}

.product .product-text {
    text-align: left;
    background-color: var(--white-color);
    position: absolute;
    left: 3%;
    right: 3%;
    bottom: -8.5em;
    padding: 2em 0 1em;
    margin-top: -2em;
    z-index: 9;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.08), 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 1px 14px 0 rgba(0, 0, 0, 0.06);
}

.product .product-text h4 {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.8em;
    padding: 0 1.1em;
}

.product .product-text i.fab {
    color: var(--green-color);
}

/* --- #End product and services--- */


/* --- Plant --- */

.plant {
    background: url(../images/2.jpg) no-repeat center;
    background-image: 100%;
    text-align: center;
    padding: 0 !important;
}

.plant .overlay-clr {
    padding: 3em 0;
}

.plant h3 {
    color: var(--white-color);
    text-transform: none;
}

.plant span {
    color: var(--yellow-main-color);
}

.plant p {
    color: var(--gray-color);
}

.plant .button {
    font-size: 1.2em;
    margin: .5em 1em;
    color: var(--white-color);
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: color .7s;
    transition: color .7s;
}

.plant .button:hover {
    color: #4facfe;
}

.plant .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* z-index: -1; */
    -webkit-transition: all .7s;
    transition: all .7s;
}

.plant .btn-service::before {
    background-color: rgba(192, 170, 46, 0.493);
}

.plant .btn-contact::before {
    background-color: rgba(16, 138, 75, 0.418);
}

.plant .button:hover::before {
    width: 100%;
}

.plant .btn-service {
    padding: .5em 1.5em;
    border: 2px solid var(--yellow-dark-color);
}

.plant .btn-contact {
    padding: .5em 1.8em;
    border: 2px solid var(--green-dark-color);
}

/* --- #End plant --- */


/* --- Footer --- */

footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 3em 0;
    background-color: var(--black-color);
    position: fixed;
    bottom: 0;
    z-index: -1;
}

footer h3 {
    color: var(--white-color);
}

footer h3 i {
    color: var(--yellow-main-color);
}

footer ul li {
    display: inline-block;
}

footer .contact,
footer .social {
    padding: .2em 0;
}

footer .contact ul li {
    padding: 0 .8em;
}

footer .contact ul li i,
footer .coppyright a {
    color: #AAAAAA;
}

footer .social ul li {
    padding: 0em .2em;
    font-size: 1.2em;
}

footer p {
    color: var(--p-color);
}

footer a,
footer a:hover,
footer a:focus {
    color: var(--p-color);
}

footer .coppyright {
    padding-top: 1.5em;
    font-size: 1.09em;
}

/* --- #End footer --- */

/* --------------- #End index.html --------------- */



/* --------------- About.html --------------- */

/* --- Banner --- */

.about {
    background-color: var(--white-color);
}

.about-banner {
    background: url(../images/2.jpg) no-repeat center;
    background-size: cover;
    min-height: 250px;
    vertical-align: top;
}

.about-banner .overlay-clr {
    min-height: 250px;
}

/* --- #End banner --- */


/* --- About about --- */

.about-about {
    background-color: var(--white-color);
}

.about-about .section-title {
    text-align: center;
}

.about-about .grid-content {
    grid-template-columns: repeat(2, 1fr);

}

.about-about .grid-item {
    text-align: left;
}

.about-about .grid-item h5 {
    color: var(--green-color);
    font-size: 1.5em;
}

.about-about .grid-item h3 {
    font-size: 1.6em;
    line-height: 1.6em;
}

.about-about .grid-item h6 {
    font-size: 1.5em;
}

.about-about .grid-item p {
    color: var(--p-color);
    font-family: 'Operator Mono Book Italic' !important;
    font-weight: 600;
}

.about-about .grid-item i.fa {
    color: var(--green-color);
}

/* --- #End about about --- */


/* --- About top --- */

.about-top {
    background-color: var(--green-color);
}

.about-top .grid-content {
    grid-template-columns: 2.2fr 1fr;
}

.about-top .grid-item h3 {
    font-size: 1.8em;
    color: var(--white-color);
    line-height: 1.8em;
}

.about-top .grid-item.item-left {
    padding: 2.5em 3em;
}

.about-top .grid-item .btn-our-service {
    padding: .5em 1.9em;
    color: var(--yellow-main-color);
    border: 3px solid var(--yellow-main-color);
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    transition: color .7s;
}
.about-top .grid-item .btn-our-service:hover{
    color: var(--p-color);
}
.about-top .grid-item .btn-our-service::before,
.about-top .grid-item .btn-our-service::after{
    content: "";
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-color: var(--yellow-main-color);
    border-style: solid;
    -webkit-transition: all .7s;
    transition: all .7s;
}
.about-top .grid-item .btn-our-service::before{
    top: -.5em;
    left: -.5em;
    border-width: 3px 0 0 3px;
}
.about-top .grid-item .btn-our-service::after{
    bottom: -.5em;
    right: -.5em;
    border-width: 0 3px 3px 0;
}
.about-top .grid-item .btn-our-service:hover::before,
.about-top .grid-item .btn-our-service:hover::after{
    width: calc(100% + 1em);
    height: calc(100% + 1em);
    border-color: var(--white-color);
}
.about-top .grid-item .btn-our-service:hover{
    background-color: var(--white-color);
    border-color: var(--white-color);
}

/* --- #End about top --- */


/* --- About bottom --- */

.about-bottom {
    background: url(../images/1.jpg) no-repeat center;
    background-size: cover;
    padding: 0 !important;
}

.about-bottom .overlay-clr {
    padding: 3em 0;
}

.about-bottom .grid-content {
    grid-template-columns: repeat(4, 1fr);
}

.about-bottom .grid-item {
    color: var(--white-color);
}

.about-bottom .grid-item i {
    font-size: 2.8em;
    -webkit-transition: 1s;
    transition: 1s;
}

.about-bottom .grid-item i:hover {
    -webkit-animation: rotate360 1.5s infinite;
    animation: rotate360 1.5s infinite;
    color: var(--yellow-main-color);
}

.about-bottom .grid-item h2 {
    font-size: 3em;
    font-family: 'Operator Mono Book Italic' !important;
    padding: .5em 0 .2em;
    cursor: pointer;
}

.about-bottom .grid-item h4 {
    font-size: 1.2em;
}

/* --- #End about bottom --- */


/* --- Our team --- */

.about-team {
    text-align: center;
    background-color: var(--white-color);
}

.about-team .grid-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.about-team .grid-item h3 {
    padding-bottom: 0;
}

.about-team ul li {
    display: inline-block;
}

.about-team i {
    color: var(--p-color);
    padding: 0 5px;
    margin-top: -5em;
    font-size: 13px;
}

/* --- #End our team --- */


/* --- Clients --- */

.about-client {
    background-color: var(--section-gray-color);
    text-align: center;
}

.about-client .grid-content {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    gap: 2em;
}

.about-client .grid-item {
    background-color: var(--white-color);
    padding: 2em .5em;
}

.about-client .grid-item h4 {
    text-transform: uppercase;
    padding: .5em 0 .5em 1em;
    font-size: 1.3em;
}

.about-client .grid-item p {
    font-size: 1.03em;
}

.about-client .info {
    display: -webkit-box;
    display: flex;
    padding: .5em 0 0 1.4em;
}

.about-client .info .info-left img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.about-client .info .info-right {
    margin: 1.2em 0 0 1em;
}

/* --- #End clients --- */

/* --------------- #End about.html --------------- */


/* --------------- Services.html --------------- */

.our-service {
    text-align: center;
    background-color: var(--white-color);
    padding: 3em 0 5em !important;
}

.our-service .grid-item {
    border: 1px solid var(--black-color);
    padding: 2em 0 1em;
    position: relative;
}

.our-service .grid-item .num-title {
    position: absolute;
    top: 0em;
    left: 0.3em;
    font-size: 1.5em;
    color: var(--green-color);
}

.our-service .grid-item h4 {
    text-transform: uppercase;
    font-size: 1.35em;
    letter-spacing: 1px;
    line-height: 1.8em;
    padding: 0 .9em;
}

.our-service .grid-content.content1 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding-bottom: 2em;
}

.our-service .grid-content.content2 {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    width: 70%;
}

.service-subcribe {
    text-align: center;
    background-color: var(--section-gray-color);
}

.service-subcribe .section-text {
    font-size: 1.03em;
    width: 64%;
}

form.newsletter {
    margin: 0 auto;
    width: 64%;
    background: #fff;
    padding: 0.3em;
    border-radius: 4px;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
}

.newsletter input[type="email"] {
    outline: none;
    padding: 12px 15px;
    color: var(--green-color);
    width: 68%;
    background: transparent;
    text-transform: capitalize;
    border: none;
    letter-spacing: 2px;
    font-weight: 600;
}

.newsletter input[type="email"]::-webkit-input-placeholder {
    color: var(--green-color);
}

.newsletter input[type="email"]::-moz-placeholder {
    color: var(--green-color);
}

.newsletter input[type="email"]:-ms-input-placeholder {
    color: var(--green-color);
}

.newsletter input[type="email"]::-ms-input-placeholder {
    color: var(--green-color);
}

.newsletter input[type="email"]::placeholder {
    color: var(--green-color);
}

.newsletter button.btn {
    color: var(--white-color);
    border: none;
    padding: 12px 15px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    cursor: pointer;
    width: 27%;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* --------------- #End services.html --------------- */


/* --- Scroll top --- */

.scroll-top {
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 1;
    cursor: pointer;
}

/* --- #End scroll top --- */